<!-- Footer -->
<footer class="footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://github.com/salEZY/GameJot"> GitHub GameJot</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
